@import './components/var.css';

body{
    background-color: var(--color-gray-300);
}

.hero-banner{
    width: 100vw;
    height: 25vh;
}

.homepage-presentation{
    text-align: justify;
    padding-left: 25vw;
    padding-right: 25vw;
    font-family: var(--font-maven);
    font-size: 2.5vh;
}

.homepage-cta{
    display: flex;
    justify-content: center;
    padding-left: 25vw;
    padding-right: 25vw;
    margin-top: 2rem;
}

.browsepage-cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40vw;
    padding-right: 40vw;
}

.snippetsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin: 1.5vw;
}

.snippet-tag-area{
    display: flex;
    flex-direction: row;
    gap: 0.75vw;
    justify-content: flex-end;

    padding-left: 25vw;
    padding-right: 20vw;
    padding-top: 2vh;

}

.commentary-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vh;
    margin: 2vh;
}


@media (max-width: 900px){
    .homepage-presentation{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .browsepage-cta{
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-left: 5vw;
        padding-right: 5vw;
        width: 90vw;
    }
}